{% extends 'base.html' %}
{% block title %} Course Detail | {{block.super}} {% endblock %}
{% block header_content %} <p class="display-5 text-center mt-2">{{course.course_name|upper}}</p>{% endblock %}

{% block main_content %}
  <div class="col col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        {% if request.user.is_authenticated and request.user.instructor and request.user == course.course_author %}
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{{request.build_absolute_uri}}add-module/">Add module</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{{request.build_absolute_uri}}edit-course/">Edit Course</a>
            </li>
        </ul>
        {% endif %}
        <div class="card p-3 mb-2">
            <h4>Course description</h4>
          <p class="text-muted">
              {{course.course_details}}
          </p>
          <ul class="list-group">
                {% for item in course.coursemodule_set.all %}
                <li class="list-group-item"><a href="{{request.build_absolute_uri}}{{item.module_code}}">{{item.module_name}}</a></li>
                {% empty %}
                <li class="list-group-item text-muted">No modules in this course</li>
                {% endfor %}
          </ul>
        </div>
      
  </div>
{% endblock %}
{% block footer_content %}
{% endblock %}